:root {
    --azul: #608BA1;
    --celeste: #BEDDED;
    --cafeClaro: #FFF4E6;
    --cafeMedio: #EDD8BE;
    --cafeOscuro: #A18B70;   
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--celeste);
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

.contenedor {
    width: min(90%, 200rem);
    margin: 0 auto;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/

.header {
    background-image: url(../img/header.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.barra-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_nombre_light {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.nav-link {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
}


.nav-link:nth-child(2) {
    background-color: rgb(255 255 255 / 50% );
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    margin-top: -6rem;
}

.busqueda-input {
    border-style: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 150rem;
    background-color: rgb(255 255 255 / 50%);
}


.busqueda-input:hover {
    background-color: rgb(255 255 255 / 100%);
}

.busqueda-button {
    border-style: none;
    border-radius: 1rem;
    background-color: transparent;
    margin-left: -5rem;
    padding: .5rem;
    cursor: pointer;
}

.productos {
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100rem;
    gap: 3rem;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: rgb(255 255 255 / 50%);
    border-radius: 1rem;
    padding: 2rem;
}

.producto-nombre {
    padding: 0 0 2rem 0;
}

.producto-img{
    margin-bottom: 2rem;
    width: 25rem;
    border-radius: 1rem;
}

 .like {

 }

 .share {

 }

.like-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-style: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;    
}

.share-button{
    border-style: none;
    width: 6rem;
    height: 6rem;
    border-style: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;   
}

.like-logo {
    width: 4rem;
}


.share-logo {
    width: 4rem;
}

.footer {
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
}

.redes-fb {
    height: 3rem;
    width: 3rem;
}

.redes-ins {
    height: 3rem;
    width: 3rem;
}

.derechos {
    margin-bottom: 0;
}