:root {
    --azul: #608BA1;
    --celeste: #BEDDED;
    --cafeClaro: #FFF4E6;
    --cafeMedio: #EDD8BE;
    --cafeOscuro: #A18B70;   
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--celeste);
}

a {
    text-decoration: none;
    color: white;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/

.header {
    background-image: url(../img/header.jpg);
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header--sombra {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 15rem;
}

.barra {
    padding-top: 4rem;
}

.logo_nombre_light {
    font-weight: 400;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}